.cell-height1 { height: 40px; }
.cell-height2 { height: 77px; }
.cell-height3 { height: 117px; }
.cell-height4 { height: 157px; }
.cell-height5 { height: 197px; }
.cell-height6 { height: 237px; }
.cell-height7 { height: 277px; }
.cell-height8 { height: 317px; }
.cell-height9 { height: 357px; }
.cell-height10 { height: 397px; }
.cell-height11 { height: 437px; }
.cell-height12 { height: 477px; }
.cell-height13 { height: 517px; }
.cell-height14 { height: 557px; }
.cell-height15 { height: 597px; }
.cell-height16 { height: 637px; }
.cell-height17 { height: 677px; }
.cell-height18 { height: 717px; }
.cell-height19 { height: 757px; }
.cell-height20 { height: 797px; }


.event.track-default {
  background-color: #555;
  border-color: #555;
}

.event.track-default div.event-header {
  background-color: #555;
}

.event.track-default div.event-header a {
  color: #fff;
}

.conference-background {
  background-color: #555;
}


.event.track-art-culture {
  background-color: #555;
  border-color: #555;
}
.event.track-art-culture div.event-header {
  background-color: #555;
}

.event.track-art-culture div.event-header a {
  color: #fff;
}

#colorkeys .track-art-culture {
  background-color: #555;
}

.label .track-art-culture {
  background-color: #555;
}

.event.track-ccc {
  background-color: #555;
  border-color: #555;
}
.event.track-ccc div.event-header {
  background-color: #555;
}

.event.track-ccc div.event-header a {
  color: #fff;
}

#colorkeys .track-ccc {
  background-color: #555;
}

.label .track-ccc {
  background-color: #555;
}

.event.track-entertainment {
  background-color: #555;
  border-color: #555;
}
.event.track-entertainment div.event-header {
  background-color: #555;
}

.event.track-entertainment div.event-header a {
  color: #fff;
}

#colorkeys .track-entertainment {
  background-color: #555;
}

.label .track-entertainment {
  background-color: #555;
}

.event.track-ethics-society-politics {
  background-color: #555;
  border-color: #555;
}
.event.track-ethics-society-politics div.event-header {
  background-color: #555;
}

.event.track-ethics-society-politics div.event-header a {
  color: #fff;
}

#colorkeys .track-ethics-society-politics {
  background-color: #555;
}

.label .track-ethics-society-politics {
  background-color: #555;
}

.event.track-hardware-making {
  background-color: #555;
  border-color: #555;
}
.event.track-hardware-making div.event-header {
  background-color: #555;
}

.event.track-hardware-making div.event-header a {
  color: #fff;
}

#colorkeys .track-hardware-making {
  background-color: #555;
}

.label .track-hardware-making {
  background-color: #555;
}

.event.track-science {
  background-color: #555;
  border-color: #555;
}
.event.track-science div.event-header {
  background-color: #555;
}

.event.track-science div.event-header a {
  color: #fff;
}

#colorkeys .track-science {
  background-color: #555;
}

.label .track-science {
  background-color: #555;
}

.event.track-security {
  background-color: #555;
  border-color: #555;
}
.event.track-security div.event-header {
  background-color: #555;
}

.event.track-security div.event-header a {
  color: #fff;
}

#colorkeys .track-security {
  background-color: #555;
}

.label .track-security {
  background-color: #555;
}

#colorkeys {
  font-size: .8em;
  opacity: .85;
}

#colorkeys ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#colorkeys ul li {
  margin: 0 .2em;
  float: right;
}

#colorkeys ul li div {
  padding: 0;
}

/* Custom Conference CSS */

